body {
    font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
    font-size: 13pt;
    line-height: 2em;
}

h1 {
    font-size: 25pt;
    font-weight: bold;
}

h2 {
    font-size: 22pt;
    font-weight: bold;
}

h3 {
    font-size: 18pt;
    font-weight: bold;
}

h4 {
    font-size: 15pt;
    font-weight: bold;
}

a, a:visited {
    color: #409EFF;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

.shy {
    color: gray;
}

.small {
    font-size: smaller;
}

.hide-first > *:first-child,
.hide-last > *:last-child,
.hide-if-first:first-child,
.hide-if-last:last-child
{
    display: none;
}

.header {
    border-bottom: 1px solid #e6e6e6;
}

.aside {
    border-right: 1px solid #e6e6e6;
}

.el-menu.no-border {
    border-right: none;
}

.el-table {
    font-size: 100% !important;
}

.c-pointer {
    cursor: pointer;
}

.anchor {
    position: absolute;
    top: -50px;
}